
* { 
	margin:0; 
	padding:0; 
	box-sizing: border-box;
	text-align: center;
	
}


body {
    font-family: Arial, sans-serif;
    background-image: url(../img/fondo.png);
    background-repeat: repeat;
    background-attachment: fixed;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 50px;

  
}

h1, h2, h3 {
  font-family: 'Abel', sans-serif;

}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    background-color: black;
    padding: 10px;
}


.menu li {
    margin: 15px;
}


.menu a {
    text-decoration: none;
    color: beige;
    font-size: 24px;
    padding: 10px;
}


.menu a:hover {
    color: #21B7FD;
}

#contenedor {
	width: 100%;
	max-width: 900%;
	margin: 1rem auto;
	background-color: lightpink;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.columnas {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    margin: 20px;
  
}

.secciones-columnas {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	  margin: 15px;
    border: 15px;
}

.centrado {
	text-align: center;
}

.espaciado {
	margin: 1rem;
	padding: 1rem;
	background-color: white;
}

/* DATO CURIOSO */
#dato-curioso {
  background-color: rgba(255, 255, 255, 0.8); 
  border: 2px solid #333;                      
  padding: 1rem;                               
  margin: 2rem 0;
  text-align: center;
}

#dato-curioso h3 {
  font-family: 'Abel', sans-serif;
  margin-bottom: 1rem;
}

#texto-dato {
  font-size: 3rem;
  color: grey;
  margin-bottom: 1rem;
}

#btn-dato {
  background-color: skyblue;
  color: red;
  border: none;
  padding: 0.5rem 1rem;
}

/* hover para interacción al pasar el mouse */
#btn-dato:hover {
  background-color: pink;
 
}

/* OBRAS */

.obras {
  width: fit-content;
  margin: auto;
  text-align: left;
  padding: 10px;
}

.obras li {
  display: list-item;
}

button#verGaleria
{
padding: 50px;
font-size: 50px;
color: gold;
  
}

